name: Documentation

on:
  push:
    branches:
      - main
    paths:
      - 'docs/**'
      - 'fetchez/**'  # Rebuild if code changes (for autodoc)
      - '.github/workflows/**'  # Trigger when you edit this workflow!
  pull_request:
    branches:
      - main
    paths:
      - 'docs/**'
      - 'fetchez/**'  # Rebuild if code changes (for autodoc)
      - '.github/workflows/**'  # Trigger when you edit this workflow!

permissions:
  contents: write

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Install dependencies
        run: |
          uv sync --group docs

      - name: Build Sphinx
        run: |
          cd docs
          uv run make html

      - name: Deploy to GitHub Pages
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/build/html
