name: Test

on:
  push:
    branches: main
  pull_request:
    branches: "*"

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Install dependencies
        run: uv sync --group test

      - name: Test
        run: uv run pytest -vv -r ap --cov

      - name: Package the extension
        run: uv build
